table {
    border-collapse: collapse;
}

td, th {
    padding: 8px 15px;

}

td:first-child, th:first-child {
	font-weight:bold; 
    text-align: left;
    padding-left: 0;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child, th:last-child {
    padding-right: 0;
}

th {
    border-bottom: 1px solid #aaa;
}

td {
    border-bottom: 1px solid #ddd;
}